.navbar {
	background: yellow;
	color: blue;
	padding: 10px;
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

ul,
li {
	display: flex;
	gap: 10px;
	list-style: none;
}

.overview {
	display: flex;
	align-items: center;
}

.img {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.overview .left .right {
	display: flex;
	flex-direction: column;
}

.overview .left {
	flex-wrap: wrap;
	flex-direction: row;
}

.overview .right {
	margin: 25px;
}

.detail {
	display: flex;
	align-items: center;
}

.detail .left .right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ingredients1 {
	display: flex;
	margin-right: 50px;
	margin-left: 50px;
	flex-wrap: nowrap;
	flex-direction: row;
}

.ingredients2 {
	display: flex;
	margin-right: 50px;
	margin-left: 50px;
	flex-wrap: nowrap;
	flex-direction: row;
}

.detail h1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1,
h2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.instructions {
	display: flex;
	margin: 5px 100px;
	justify-content: center;
	align-items: center;
}

ol,
li,
.boxes,
.checkboxes {
	display: flex;
	gap: 10px;
	flex-direction: column;
	justify-content: space-between;
}
