.navbar {
	background: yellow;
	color: blue;
	padding: 10px;
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

ul,
li {
	display: flex;
	gap: 10px;
	list-style: none;
}
.h1 {
	display: flex;
	align-items: center;
}
