html {
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(182, 159, 97), rgb(128, 89, 24));
}

body {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  position: sticky;
  margin: 0px;
  height: 100vh;
  box-sizing: border-box;
}
