.navbar {
	background: yellow;
	color: blue;
	padding: 10px;
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

ul,
li {
	display: flex;
	gap: 10px;
	list-style: none;
}

h1 {
	display: flex;
	justify-content: center;
}

.buttons {
	margin: 100;
	color: #eeeeee;
	display: flex;
	align-items: center;
}

a {
	color: black;
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: column;
}

.container .buttons {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-top: 50px;
}
